<%- include('../partials/header') %>

<form id="new-form" action="/flights/<%= flight._id %>/details" method="POST">
  <input name="seat" value="SEAT" required pattern="[A-F][1-9]\d?">
  <input type="number" value="0" required name="price">
  <select>
    <% destinations.forEach((d) => { %>
      <option value=<% d %>> <% d.ref.airport %> </option>
    <% }) %>
  </select>
  <button type="submit">Add Ticket</button>
</form>
<table>
  <thead>
    <tr>
      <th>Seat</th>
      <th>Price</th>
      <th>Destination</th>
    </tr>
  </thead>
  <tbody>
    <% flight.tickets.forEach((t) => { %>
      <tr>
        <td> <%= t.seat %> </td>
        <td>$ <%= t.price %> </td>
        <td> <%= flight.destinations.airport %> </td>
      </tr>
    <% }) %>
  </tbody>
</table>

<%- include('../partials/footer') %>